.control-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #121212;
    padding: 10px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
  }
  
  .joystick-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    flex: 1;
  }
  
  .joystick {
    width: 120px;
    height: 120px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
  }
  
  .video-stream {
    width: 320px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
  }
  
  .capture-button {
    margin: 6px auto;
  }
  
  .button-container{
    display: flex;
    flex-direction: column;
    background-color: #121212;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }
  
  .distance-container{
    display: flex;
    flex-direction: column;
    background-color: #121212;
    justify-content: space-between;
    align-items: center;
  
    ion-chip {
      width: 50%;
      justify-content: center;
      backdrop-filter: blur(5px);
      background: rgba(255, 255, 255, 0.9);
      
      ion-icon {
        margin-right: 8px;
      }
    }
  }
  